/* Color Theme Swatches in RGBA */
$green-white-and-orange-1-rgba: rgba(207,235,17, 1);
$green-white-and-orange-2-rgba: rgba(58,112,0, 1);
$green-white-and-orange-3-rgba: rgba(140,198,0, 1);
$green-white-and-orange-4-rgba: rgba(255,253,242, 1);
$green-white-and-orange-5-rgba: rgba(255,80,0, 1);

body {
  padding: 0px;
  font-family: sans-serif;
}